/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, :before, :after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.15;
}

body {
  margin: 0;
}

hr {
  color: inherit;
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root[data-theme="light"] {
  --primary-background-color: #fff;
  --secondary-background-color: #f5f6f8;
  --accent-background-hero-color: #f5ffffa4;
  --accent-background-color: #f5ffff;
  --primary-text-color: #000d;
  --secondary-text-color: #292929;
  --box-shadow-color: #78787899;
  --accent-color: #fb635d;
}

:root[data-theme="dark"] {
  --primary-background-color: #141414;
  --secondary-background-color: #0f0f0f;
  --accent-background-hero-color: #1a1a1aa4;
  --accent-background-color: #1a1a1a;
  --primary-text-color: #fffd;
  --secondary-text-color: #fff;
  --box-shadow-color: #9c91aa;
  --accent-color: #fb635d;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--accent-background-color);
  color: var(--primary-text-color);
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.wrapper {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.content {
  flex: 1 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (width >= 768px) {
  .container {
    width: 1280px;
    padding-left: 140px;
    padding-right: 140px;
  }
}

.header {
  background-color: var(--primary-background-color);
  box-shadow: 0px -5px 5px -5px var(--box-shadow-color) inset;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (width <= 767px) {
  .nav {
    text-align: center;
    flex-direction: column;
  }

  .nav > :not(:last-child) {
    margin-bottom: 15px;
  }
}

.logo {
  text-transform: uppercase;
  align-items: baseline;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.logo__1 {
  color: var(--accent-color);
  font-family: Righteous, sans-serif;
  font-size: 25px;
  transition: color .25s cubic-bezier(.23, 1, .32, 1);
}

.logo__2 {
  color: var(--secondary-text-color);
  font-weight: 600;
  transition: color .25s cubic-bezier(.23, 1, .32, 1);
}

.logo:after {
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 2px;
  transition: transform 1s cubic-bezier(.23, 1, .32, 1);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-150%);
}

.logo:hover:after, .logo:focus:after {
  transform: translate(0);
}

.logo:hover .logo__2, .logo:focus .logo__2 {
  color: var(--accent-color);
}

.logo:hover .logo__1, .logo:focus .logo__1 {
  color: var(--secondary-text-color);
}

@media screen and (width >= 768px) {
  .site-nav {
    align-items: center;
    display: flex;
  }
}

@media screen and (width <= 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (width >= 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 25px;
  }
}

.site-nav__link {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  transition: color .25s cubic-bezier(.445, .05, .55, .95);
}

.site-nav__link--active, .site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.switch-theme {
  cursor: pointer;
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
}

.switch-icon {
  width: inherit;
  height: inherit;
  fill: #fff;
  transition: transform .5s cubic-bezier(.39, .575, .565, 1);
}

.switch-icon .hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.switch-icon:hover, .switch-icon:focus {
  transform: rotate(360deg);
}

.footer {
  background-color: var(--primary-background-color);
  box-shadow: 0px -5px 5px -5px var(--box-shadow-color);
  flex: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}

.backdrop {
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(var(--accent-color), .5);
  position: fixed;
  inset: 0;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.backdrop.show .modal__wrapper {
  animation: 1s cubic-bezier(.39, .575, .565, 1) both animModal;
}

.modal__wrapper {
  background-color: var(--primary-background-color);
  width: 100%;
  height: auto;
  max-height: 80%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0, -100%);
}

.backdrop__close {
  cursor: pointer;
  background-color: var(--accent-color);
  fill: var(--primary-background-color);
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  display: inline-flex;
  position: absolute;
  top: 15px;
  right: 15px;
}

.backdrop__close:hover, .backdrop__close:focus {
  fill: var(--secondary-text-color);
}

.backdrop__close svg {
  width: inherit;
  height: inherit;
}

@keyframes animModal {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  50% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.book {
  box-shadow: 0px -8px 5px -5px var(--box-shadow-color) inset;
  justify-content: center;
  align-items: center;
  padding: 25px;
  display: flex;
}

.book__img {
  box-shadow: 7px 7px 5px -5px var(--box-shadow-color);
  margin-right: 50px;
}

.book__wrapper {
  width: 70%;
}

.book__name {
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}

.book__name:first-letter {
  color: var(--accent-color);
  font-family: Righteous, sans-serif;
  font-size: 40px;
}

.book__author {
  color: var(--accent-color);
  margin-bottom: 5px;
  font-family: Righteous, sans-serif;
  font-size: 15px;
}

.book__date {
  margin-bottom: 15px;
  font-size: 15px;
}

.book__description {
  margin-bottom: 20px;
  font-size: 15px;
}

.book__btn {
  cursor: pointer;
  border: 2px solid var(--accent-color);
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  padding: 10px 15px;
  transition: background-color .25s linear;
}

.book__btn:hover, .book__btn:focus {
  background-color: #0000;
}

.book__btn.hidden {
  display: none;
}

.book__span {
  font-size: 15px;
}

.btnUp {
  z-index: 1001;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-style: none;
  padding: 10px;
  font-size: 25px;
  transition: color .25s linear;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.btnUp.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.btnUp:hover, .btnUp:focus {
  color: var(--primary-background-color);
}

.hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero__container {
  flex-direction: column;
  display: flex;
}

.random-book {
  align-items: center;
  margin-bottom: 25px;
  display: flex;
}

.random-book > * {
  flex-basis: 50%;
}

.random-book__img > img {
  margin: 0 auto;
}

.btn-random {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-style: none;
  margin-bottom: 25px;
  margin-left: auto;
  padding: 10px 15px;
  transition: color .25s linear;
}

.btn-random:hover, .btn-random:focus {
  color: var(--primary-background-color);
}

.random-book__name {
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  font-size: 25px;
}

.random-book__name:first-letter {
  color: var(--accent-color);
  font-family: Righteous, sans-serif;
  font-size: 40px;
}

.random-book__author {
  color: var(--accent-color);
  margin-bottom: 5px;
  font-size: 15px;
}

.random-book__date {
  margin-bottom: 10px;
  font-size: 15px;
}

.random-book__description {
  color: var(--secondary-text-color);
  margin-bottom: 15px;
  font-size: 15px;
}

.random-book__btn {
  cursor: pointer;
  border: 2px solid var(--accent-color);
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  padding: 10px 15px;
  transition: background-color .25s linear;
}

.random-book__btn:hover, .random-book__btn:focus {
  background-color: #0000;
}

.random-book__btn.hidden {
  display: none;
}

.random-book__span {
  font-size: 15px;
}

.loc-library__list {
  background-color: var(--secondary-background-color);
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px 10px;
  display: flex;
}

.library {
  flex-basis: calc(33.3333% - 30px);
}

.library__container {
  box-shadow: 1px 1px 1px var(--box-shadow-color);
  height: 100%;
  display: flex;
}

.library__img {
  display: contents;
}

.library__wrapper {
  text-align: center;
  background-color: var(--primary-background-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  display: flex;
}

.library__name {
  color: var(--secondary-text-color);
  font-size: 1rem;
}

.library__author {
  color: var(--accent-color);
  font-size: .6rem;
}

.library__date {
  font-size: .6rem;
}

/*# sourceMappingURL=library.bfcdfbc6.css.map */
