.potter__book-series {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -50px;
    right: 100%;
    width: 100px;
    height: 100px;
    opacity: 1;
    transform: translate(0, 0);

    background-image: url(../image/boy-on-book.svg);
    background-size: 100%;
    background-repeat: no-repeat;

    animation: animBoyFlight 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  }
  @media screen and (min-width: 1280px) {
    &::before {
      top: -160px;
      right: 50%;
      width: 150px;
      height: 150px;
    }
  }
}

.ice {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -35%;
    width: 80px;
    height: 80px;
    background-size: 80px;
    transform: translateY(0);

    background-image: url(../image/ice.svg);
    background-repeat: no-repeat;

    animation: bounce-in-top 2.1s both infinite;

    @media screen and (min-width: 1280px) {
      left: 0;
    }
  }
}
.fire {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: -35%;
    width: 100px;
    height: 80px;
    background-size: 100px;
    opacity: 0.8;
    transform: scale(0.8);

    background-image: url(../image/fire.svg);
    background-repeat: no-repeat;

    animation: flicker-in-1 3s linear both infinite;

    @media screen and (min-width: 1280px) {
      left: 0;
    }
  }
}
.witcher__book-series {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    width: 100px;
    height: 100px;
    background-size: 100px;

    opacity: 1;
    transform: translateX(0) rotate(0deg);

    background-image: url(../image/knight.svg);
    background-repeat: no-repeat;

    animation: knight 4s linear both infinite;
    @media screen and (min-width: 1280px) {
      top: -120px;

      width: 150px;
      height: 150px;
      background-size: 150px;
    }
  }
}
.dark-tower {
  position: relative;
  z-index: 1;
}
.cowboy {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    z-index: 5;
    position: absolute;
    top: 130px;
    right: -1%;
    width: 180px;
    height: 180px;
    background-size: 180px;

    background-image: url(../image/cowboy.svg);
    background-repeat: no-repeat;

    transform: translateX(100%) rotate(0);

    animation: cowboy 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;

    @media screen and (min-width: 1280px) {
      top: 200px;

      width: 300px;
      height: 300px;
      background-size: 300px;
    }
  }
}
.anim-letter-tower {
  transform: translate(0, 0) rotate(0deg);
  animation: rotateT 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.anim-letter-witcher {
  opacity: 1;
  animation: rotate-out-2-ccw 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@keyframes animBoyFlight {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
    transform: translate(75%, 20%);
  }
  40% {
    opacity: 1;
    transform: translate(150%, -20%);
  }
  60% {
    opacity: 1;
    transform: translate(225%, 20%);
  }
  80% {
    opacity: 0.8;
    transform: translate(250%, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(800%, 0);
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-100%);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-50%);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-30%);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-20%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  10% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  10.1% {
    opacity: 1;
    transform: scale(1);
  }
  10.2% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  20% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  20.1% {
    opacity: 1;
    transform: scale(1);
  }
  20.6% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  30% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  30.1% {
    opacity: 1;
    transform: scale(1);
  }
  30.5% {
    opacity: 1;
    transform: scale(1);
  }
  30.6% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  45% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  45.1% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  55% {
    opacity: 1;
    transform: scale(1);
  }
  55.1% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  57% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  57.1% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  60.1% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  65% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  65.1% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  75.1% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  77% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  77.1% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  85.1% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  86% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  86.1% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes knight {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  10% {
    transform: translateX(-50%) rotate(2deg);
  }
  20% {
    transform: translateX(-100%) rotate(-2deg);
  }
  30% {
    transform: translateX(-150%) rotate(2deg);
  }
  40% {
    transform: translateX(-200%) rotate(-2deg);
  }
  50% {
    transform: translateX(-250%) rotate(2deg);
  }
  60% {
    transform: translateX(-300%) rotate(-2deg);
  }
  70% {
    transform: translateX(-350%) rotate(2deg);
  }
  80% {
    transform: translateX(-380%) rotate(-2deg);
    opacity: 1;
  }
  90% {
    transform: translateX(-420%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-430%) rotate(0deg);
    opacity: 0.5;
  }
}
@keyframes rotate-out-2-ccw {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  89% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
@keyframes cowboy {
  0% {
    transform: translateX(100%) rotate(0);
  }
  50% {
    transform: translateX(10%) rotate(0);
  }
  80% {
    transform: translateX(10%) rotate(0);
  }
  90% {
    transform: translateX(10%) rotate(15deg);
  }
  100% {
    transform: translateX(100%) rotate(15deg);
  }
}
@keyframes rotateT {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  89% {
    transform: translate(0, 0) rotate(0deg);
  }
  90% {
    transform: translate(0, 0) rotate(0);
  }
  93% {
    transform: translate(-5px, 10px) rotate(-45deg);
  }
  100% {
    transform: translate(-5px, 10px) rotate(-45deg);
  }
}
