.book {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;

  @media screen and (max-width: 599px) {
    flex-direction: column;
  }
  @media screen and (min-width: 600px) {
    box-shadow: 0px -8px 5px -5px var(--box-shadow-color) inset;
  }
}
.book__img {
  box-shadow: 7px 7px 5px -5px var(--box-shadow-color);

  @media screen and (max-width: 599px) {
    width: 100px;
  }
  @media screen and (min-width: 600px) {
    margin-right: 50px;
  }
}
.book__wrapper {
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 70%;
  }
}
.book__name {
  margin-bottom: 5px;

  color: var(--secondary-text-color);
  &::first-letter {
    font-family: $secondary-font-family;
    font-size: 40px;
    color: var(--accent-color);
  }

  @media screen and (max-width: 599px) {
    font-size: 18px;
  }
}
.book__author {
  margin-bottom: 5px;

  font-family: $secondary-font-family;
  font-size: 15px;
  color: var(--accent-color);
}
.book__date {
  margin-bottom: 15px;

  font-size: 15px;
}
.book__description {
  margin-bottom: 20px;

  font-size: 15px;
}

.book__btn {
  padding: 10px 15px;

  cursor: pointer;
  border: 2px solid var(--accent-color);
  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &.hidden {
    display: none;
  }
}
.book__span {
  font-size: 15px;
}

.series {
  transition: box-shadow 1s cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 1px 1px 1px var(--accent-color);
  }
}
