.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @media screen and (min-width: 400px) {
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 80px;
    padding-right: 80px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 140px;
    padding-right: 140px;
  }
}
