.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $primary-background-color;

  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
}

.footer__container {
  text-align: center;
}
