.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba($color: var(--accent-color), $alpha: 0.5);

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }

  &.show .modal__wrapper {
    animation: animModal 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}
.modal__wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  transform: translate(0, -100%);

  width: 100%;

  background-color: var(--primary-background-color);

  @media screen and (max-width: 599px) {
    overflow-y: auto;
    max-height: 100vh;
    height: 100vh;
    bottom: 0;
  }
  @media screen and (min-width: 600px) {
    height: auto;
    max-height: 80%;
  }
}

.backdrop__close {
  position: absolute;
  top: 15px;
  right: 15px;

  display: inline-flex;
  width: 30px;
  height: 30px;
  padding: 5px;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--primary-background-color);

  &:hover,
  &:focus {
    fill: var(--secondary-text-color);
  }
  & svg {
    width: inherit;
    height: inherit;
  }
}
@keyframes animModal {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  50% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
