.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba($color: #9b9b9b, $alpha: 0.5);

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;

  transform: translate(-50%, -50%);

  width: 80%;
  height: 80%;

  background-color: #fff;
}
