.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba($color: #9b9b9b, $alpha: 0.5);

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }

  &.show .modal__wrapper {
    animation: animModal 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}
.modal__wrapper {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  transform: translate(0, -100%);

  width: 100%;
  max-height: 80%;
  height: auto;

  background-color: #fff;
}

.backdrop__close {
  position: absolute;
  top: 15px;
  right: 15px;

  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: $accent-color;
  fill: $primary-background-color;

  -webkit-box-shadow: 5px 5px 5px -5px rgba(120, 120, 120, 0.6);
  -moz-box-shadow: 5px 5px 5px -5px rgba(120, 120, 120, 0.6);
  box-shadow: 5px 5px 5px -5px rgba(120, 120, 120, 0.6);
}
@keyframes animModal {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  80% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
