$secondary-font-family: 'Righteous', sans-serif;
$primary-font-family: 'Poppins', sans-serif;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f6f8;
$accent-background-color: #f5ffff;
$primary-text-color: rgba(0, 0, 0, 0.48);
$secondary-text-color: #292929;
$accent-color: #fb635d;
