.book-series {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

.book-series__title {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 20px;

  font-family: $secondary-font-family;
  font-size: 30px;
  color: var(--secondary-text-color);
  background-color: var(--accent-background-color);
  @media screen and (min-width: 1280px) {
    font-size: 40px;
  }

  &--word:not(.anim-letter)::first-letter {
    font-size: 40px;
    color: var(--accent-color);
    text-shadow: 2px 1px 1px var(--secondary-text-color);
    @media screen and (min-width: 1280px) {
      font-size: 60px;
    }
  }
  &--article::first-letter {
    font-size: 40px;
    @media screen and (min-width: 1280px) {
      font-size: 60px;
    }
  }
}
.book-series__list {
  position: relative;
  z-index: 100;
  display: flex;
  overflow: hidden;

  background-color: var(--primary-background-color);
  box-shadow: -5px -5px 5px -5px var(--box-shadow-color);

  @media screen and (max-width: 767px) {
    height: 420px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    padding: 25px 20px;
    justify-content: space-between;
    gap: 30px;
  }
}

.book-series__list > .series {
  @media screen and (max-width: 767px) {
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
.book-series__list > .series.active {
  @media screen and (max-width: 767px) {
    opacity: 1;
    width: 100%;
  }
}
.series {
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: calc((100% / 2) - 30px);
  }
}
.series__container {
  position: relative;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}
.series__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 250px;

  @media screen and (min-width: 1280px) {
    margin-right: 20px;
  }
}
.series__wrapper {
  @media screen and (max-width: 1279px) {
    text-align: center;
  }
}
.series__name {
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  &::first-letter {
    font-size: 35px;
    color: var(--accent-color);
  }
}

.series__author {
  margin-bottom: 10px;

  font-size: 15px;
  color: var(--accent-color);
}

.controlls {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.prev {
  width: 25px;
  height: 25px;

  border-radius: 50% 0 0 50%;
  border: 2px solid var(--accent-color);
}
.next {
  width: 25px;
  height: 25px;

  border-radius: 0 50% 50% 0;
  border: 2px solid var(--accent-color);
}
