.book-series {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

.book-series__title {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 20px;

  font-family: $secondary-font-family;
  font-size: 40px;
  color: var(--secondary-text-color);
  background-color: var(--accent-background-color);

  &--word:not(.anim-letter)::first-letter {
    font-size: 60px;
    color: var(--accent-color);
    text-shadow: 2px 1px 1px var(--secondary-text-color);
  }
  &--article::first-letter {
    font-size: 60px;
  }
}
.book-series__list {
  position: relative;
  z-index: 100;

  background-color: var(--primary-background-color);
  box-shadow: -5px -5px 5px -5px var(--box-shadow-color);

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 20px;
    justify-content: space-between;
    gap: 30px;
  }
}
.series {
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    width: calc((100% / 2) - 30px);
  }
}
.series__container {
  position: relative;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}
.series__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 250px;

  @media screen and (min-width: 1280px) {
    margin-right: 20px;
  }
}
.series__wrapper {
  @media screen and (max-width: 1279px) {
    text-align: center;
  }
}
.series__name {
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  &::first-letter {
    font-size: 35px;
    color: var(--accent-color);
  }
}

.series__author {
  margin-bottom: 10px;

  font-size: 15px;
  color: var(--accent-color);
}

// .controlls {
//   display: flex;
//   justify-content: space-between;
//   padding: 0 15px;
// }
// .potter {
//   overflow: hidden;
// }
// .prev {
//   width: 20px;
//   height: 20px;

//   border-radius: 50%;
//   border: 2px solid var(--accent-color);
// }
// .next {
//   width: 20px;
//   height: 20px;

//   border-radius: 50%;
//   border: 2px solid var(--accent-color);
// }
