.hero {
  padding-top: 60px;
  padding-bottom: 60px;
}
.hero__container {
  display: flex;
  flex-direction: column;
}
.random-book {
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    & > * {
      flex-basis: 50%;
    }
  }
}
.random-book__img {
  & > img {
    margin: 0 auto;
  }
}
.btn-random {
  margin-left: auto;
  margin-bottom: 25px;
  padding: 10px 15px;

  color: var(--secondary-text-color);
  border-style: none;
  background-color: var(--accent-color);
  cursor: pointer;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--primary-background-color);
  }
}

.random-book__wrapper {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.random-book__name {
  margin-bottom: 10px;

  font-size: 25px;
  color: var(--secondary-text-color);

  &::first-letter {
    font-size: 40px;
    font-family: $secondary-font-family;
    color: var(--accent-color);
  }
}
.random-book__author {
  margin-bottom: 5px;

  font-size: 15px;
  color: var(--accent-color);
}
.random-book__date {
  margin-bottom: 10px;

  font-size: 15px;
}
.random-book__description {
  margin-bottom: 15px;

  font-size: 15px;
  color: var(--secondary-text-color);
}

.random-book__btn {
  padding: 10px 15px;

  cursor: pointer;
  border: 2px solid var(--accent-color);
  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &.hidden {
    display: none;
  }
}
.random-book__span {
  font-size: 15px;
}
