.hero {
  height: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.hero__container {
  display: flex;
  height: inherit;
}
.hero__wrapper {
  width: 50%;
  height: inherit;

  &:first-child {
    position: relative;
    background-image: url(../image/hero-catalog.svg);
    background-repeat: no-repeat;
  }
}
.category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-63%);
  height: inherit;
  width: 100%;
}
// .category__item {
//   &:before {
//     content: '#';
//     color: var(--primary-text-color);
//   }
// }
// .category__btn {
//   font-size: 15px;
//   font-weight: 500;
//   border-style: none;
//   background-color: transparent;
//   color: var(--secondary-text-color);
//   cursor: pointer;

//   &.active {
//     color: var(--accent-color);
//   }
//   &::first-letter {
//     font-size: 20px;
//     font-family: $secondary-font-family;
//     text-transform: uppercase;
//     color: var(--accent-color);
//   }
// }
// .category__item {
//   &:before {
//     content: '#';
//     color: var(--primary-text-color);
//   }
// }
.category__item {
  position: relative;
  &:first-child {
    top: 10px;
    left: 27px;
  }
  &:nth-child(2) {
    top: -10px;
  }
  &:nth-child(3) {
    top: -15px;
    left: -20px;
  }
  &:nth-child(4) {
    top: 5px;
    left: 3px;
  }
  &:nth-child(5) {
    top: 20px;
    left: -27px;
  }
}
.category__btn {
  font-size: 20px;
  font-weight: 600;
  border-style: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 2px 2px 2px #000000;

  &.active {
    color: var(--accent-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
