.recommended {
  margin-top: 60px;
  margin-bottom: 60px;
}

.recommended__title {
  margin-bottom: 20px;
  font-size: 30px;
  color: $secondary-text-color;
  background-color: $accent-background-color;
}
.recommended__list {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 20px;
  justify-content: space-between;
  gap: 30px;

  background-color: $primary-background-color;
}
.recommended__item {
  display: flex;
  width: calc((100% / 2) - 30px);
  align-items: center;
}
.recommended__img {
  min-width: 150px;
  height: 250px;
  margin-right: 20px;
  background-color: $accent-color;
}
